html, body {
  font-family: sans-serif;
  margin: auto;
  height: 100%;
}

.navbar {
  position: absolute;
  background-color: #313236;
  border-radius: 2px;
  width: 100%;
  height: 35px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

#map {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: calc(100%  - 35px);
}
